<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cliente CRUD</title>
  </head>
  <body>
    <h1>Editar cliente</h1>
    <form method="post" enctype="multipart/form-data" action="#" th:action="@{/edit/submit}"
            th:object="${clienteForm}">
            <label>Id:<input type="text" readonly id="id" th:field="*{id}"/> </label><br/>
            <label>Nombre:<input type="text" id="nombre" th:field="*{nombre}" /></label><br/>
            <label>Edad:<input type="text" id="edad" th:field="*{edad}" /></label><br/>
            <label>Imágenes:<input type="file" name="files" multiple/></label><br/>
            <input type="submit" value="Enviar" />    
      </form>
    
  </body>
</html>